.product-slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer */
}

.product-slider::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.product-card {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 15px;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #000;
    z-index: 1;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}
